<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)config.wxi ?>

  <!-- Simutrace Development API Documentation Shortcuts -->
  <Fragment>
    <ComponentGroup Id="DevRes_ApiDocs_Shortcuts" Directory="DIR_ShortcutsDir">
      <Component Id="CMP_Shortcuts_ApiDocs"
                 Guid="565461C7-7F34-4D6F-BCDE-4FC44D0CFAFD">
        <Shortcut Id="SHORTCUT_InstallRoot_doc_index_html"
                  Name="Simutrace Development Documentation"
                  Target="[DIRINSTALLROOT]doc\html\index.html"/>

        <RemoveFolder Id="RemoveShortcutsDir" On="uninstall" />

        <RegistryValue Root="HKCU"
                       Key="Software\Simutrace"
                       Name="apidoc"
                       Type="string"
                       Value="[DIRINSTALLROOT]doc\html"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>