<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)config.wxi ?>

  <Fragment>
    <UI>
      <!-- This is the "Environment dialog" where the user can specify
           if Simutrace should be added to the PATH variable -->
      <Dialog Id="EnvDlg"
              Width="370"
              Height="270"
              Title="Simutrace Setup">

        <Control Id="Background" Type="Bitmap" Text="white" Width="370" Height="42" X="0" Y="0" TabSkip="no" />
        <Control Id="Logo" Type="Bitmap" Text="stblack" Width="30" Height="42" X="340" Y="0" TabSkip="no" />
        <Control Id="Logoex" Type="Bitmap" Text="logo" Width="56" Height="42" X="300" Y="0" TabSkip="no" />
        <Control Id="HeaderLine" Type="Line" Height="0" Width="370" X="0" Y="42" />
        <Control Id="FooterLine" Type="Line" Height="0" Width="370" X="0" Y="234" />
        <Control Id="VersionText" Type="Text" Text="Version $(var.simutrace_version_string)" Transparent="yes" Height="20" Width="70" X="10" Y="246" />

        <Control Id="Title" Type="Text" Width="220" Height="15" X="15" Y="6" Transparent="yes" Text="{\Tahoma_Bold}Custom Setup" />
        <Control Id="Description" Type="Text" Width="220" Height="15" X="25" Y="23" Transparent="yes" Text="Choose how the setup changes your environment." />

        <!-- PATH Variable -->
        <Control Id="PathDescription" Type="Text" Width="350" Height="25" X="10" Y="55" Text="Simutrace includes command line tools. To run these tools without having to navigate to the install location, the Setup Wizard can add Simutrace to the system PATH environment variable." />
        <Control Id="PathCheckBox" Type="CheckBox" Width="200" Height="17" X="10" Y="80" Text="Add Simutrace to the PATH variable" Property="ADDTOPATH" CheckBoxValue="yes" />

        <Control Id="Ready" Type="Text" Width="350" Height="25" X="10" Y="202" Text="The Setup Wizard is ready to install Simutrace on your computer. Click Install to start the installation." />

        <!-- Wizard Controls -->
        <Control Id="Back" Type="PushButton" Width="56" Height="17" X="180" Y="243" Text="Back">
          <Publish Event="NewDialog" Value="FeatureSelectDlg" />
        </Control>
        <Control Id="Install" ElevationShield="yes" Type="PushButton" Width="56" Height="17" X="236" Y="243" Default="yes" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="Cancel" Type="PushButton" Width="56" Height="17" X="304" Y="243" Cancel="yes" TabSkip="yes" Text="Cancel">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>
    </UI>
  </Fragment>
</Wix>